* {
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 90px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}
h1,
h2,
body,
p,
h3 {
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.title {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
  color: #45525b;
}
.text-orange {
  color: #ff8a63;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.text1 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;

  color: #ff8a63;
}
.TEXT2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  color: #444;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  width: 102px;
  height: 37px;
}
.hero__logo {
  width: 128px;
  height: 103px;
}
.hero {
  display: flex;
  justify-content: center; /* ВЫРАВНИВАНИЕ ПО ГОРИЗОНТАЛИ */
  align-items: center; /* ВЫРАВНИВАНИЕ ПО вертикали */
  flex-direction: column; /* изменение направление */
  background-image: url(../image/bg.png);
  background-size: cover;
  width: 100%;
  height: 800px;
}
.hero__text {
  color: #45525b;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
}
.text2 {
  width: 499px;
  height: 44px;
  top: 15px;
  left: 51px;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  margin-left: 650px;
}
.text3 {
  width: 600px;
  height: 42px;
  top: 72px;
  margin-left: 630px;
  color: #45525b;
}
.photo {
  display: flex;
  align-items: flex-start;
  margin-left: 450px;
}
.icon {
  display: flex;
  align-items: flex-start;
}
.bg {
  background-image: url(../image/Frame.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 624px;
}
/*! CHOOSE */
.choose {
}
.choose__container {
  display: flex;
  justify-content: space-between;
  width: 790px;
  margin: 0 auto;
}
.choose__text2 {
  color: #6f7278;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
}
.choos__text {
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}
.choose__text3 {
  color: #45525b;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.choose__descr {
  color: #6f7278;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
}
.choose__list {
  display: flex;
  flex-direction: column;
  width: 258px;
  height: 67px;
  flex-shrink: 0;
}

.choose__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.choose__item img {
  margin-bottom: 9px;
}
.choose__texts {
  text-align: center;
  margin-bottom: 30px;
}
/* STORE */
section {
  margin-bottom: 90px;
}
a {
  text-decoration: none;
}
/*? STORE  */
.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
  color: #45525b;
}
.subtitle {
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6f7278;
}
.text-orange {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px; /* 140% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff8a63;
}
.title {
  margin-bottom: 11px;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 43.2px; /* 120% */
  color: #45525b;
}
.store {
  padding-bottom: 100px;
}
.store__descr {
  width: 564px;
  margin-bottom: 30px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 120% */
  color: #6f7278;
}
.store__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.store__item {
  text-align: center;
}
.store__img {
  margin-bottom: 20px;
}

.store__subtitle2 {
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-bottom: 10px;
  color: #45525b;
}
.store__list-beds {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.store__item-beds {
  display: flex;
}
.store__logo {
  margin-right: 8px;
}
/* TEAM */
.team {
}
.team__inner {
  width: 368px;
}
.team__title {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px; /* 140% */
  color: #45525b;
}
.team__subtitle {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 140% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6f7278;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  width: 736px;
}
.team__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 350px;
  height: 80px;
}
.team__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #292c32;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 75px;
}
.footer__link {
  margin-top: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #fff;
}
.footer__email {
  width: 90%;
  height: 53px;
  padding-left: 34px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
}
.footer__email::placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #6f7278;
}
.footer__form {
  display: flex;
  padding: 25px;
  margin-top: 10px;
  background-color: #fafafc;
  border-radius: 8px;
  gap: 20px;
  flex-direction: column;
  width: 450px;
}
.footer__btn {
  /* position: absolute;
  top: 10px;
  left: 34.5%; */
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  padding: 8px;
  border-radius: 10px;
  background: #3a4443;
}
.footer__form label {
  font-family: Poppins;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
  color: #3a4443;
}
.footer__checkbox {
  width: 40px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__link2 {
  width: 450px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.footer__text {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px; /* 140% */
}
.footer__socials {
  display: flex;
  gap: 20px;
}
